.main {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
.news{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
  align-items: normal;
}

.title{
  text-align: center;
  font-size: 25px;

}

/* Card */
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  width: 250px;
  box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.47);
  -webkit-box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 4px 33px -7px rgba(0,0,0,0.47);;
}
.cardImage{
  object-fit: cover;
  width: 100%;
}
.cardImage img{
  width: 100%;
}
.cardContent{
  padding: 10px;
}
.cardText{
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Seeker */
.seeker{
  margin: 30px 0px;
}